@model Matrix.Models.Documents

@{
    ViewBag.Title = "Suppression Document";
}

<h2>Détail Document</h2>

<h3>Etes-vous sûr de vouloir supprimer ce document?</h3>
<div>
    <h4>Documents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filler)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.Filler)"
                 class="=thumbnail" style="width: 48px;height:48px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emetteurs.LibeEmetteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emetteurs.LibeEmetteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDoc.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDoc.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste des documents", "Index")
        </div>
    }
</div>
