@model IEnumerable<Matrix.Models.Documents>

@{

    ViewBag.Title = "Matrix Liste des Documents";
}
    <br />
    <br />
    <br />
    <body>
        <br />
        <br />

        <h3 class="text-center">
            Liste des Documents Matrix 
        </h3>
        

        <p>
            @Html.ActionLink("Nouveau Document", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Libelle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filler)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.C8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emetteurs.LibeEmetteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeDoc.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origine)
                    </td>
                    <td>
                        <img src="~/Uploads/@Html.DisplayFor(model=>item.Filler)"
                             class="=thumbnail" style="width: 48px;height:48px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C8)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emetteurs.LibeEmetteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeDoc.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Code }) |
                        @Html.ActionLink("Détails", "Details", new { id = item.Code }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Code })
                    </td>
                </tr>
            }

        </table>
    </body>
