@model IEnumerable<Matrix.Models.ClientDoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSP.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documents.Libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSP.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documents.Libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDoc }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDoc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDoc })
        </td>
    </tr>
}

</table>
