@model IEnumerable<Matrix.Models.Emetteurs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibeEmetteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeEmetteur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibeEmetteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeEmetteur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodeEmetteur }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodeEmetteur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodeEmetteur })
        </td>
    </tr>
}

</table>
